<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <%- include("partials/header") %>
    <h2>
      Welcome
      <%= currentUser ? currentUser.first_name : "Guest" %>
    </h2>

    <div>
      <% messages.forEach(function(msg){ %>
      <div>
        <p><%= msg.title %></p>
        <p><%= msg.message %></p>
        <p>
          <%= isMemberOrAdmin ? (msg.first_name + " " + msg.last_name) : "Secret User" %>
        </p>

        <p><%= isMemberOrAdmin ? msg.timestamp : "Secret Time" %></p>

        <% if(isAdmin) { %>
        <form action="message/<%= msg.id%>/delete" method="POST">
          <button type="submit">Delete</button>
        </form>
        <% } %>
      </div>
      <% })%>
    </div>
  </body>
</html>
