<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <% const isMemberOrAdmin = currentUser && (currentUser.is_member || currentUser.is_admin) %>
    <% const isAdmin = currentUser && currentUser.is_admin %>
    <% const isNotMember = currentUser && !currentUser.is_member %>

    <%- include("partials/header") %>
    <h2>
      Welcome
      <%= currentUser ? currentUser.first_name : "Guest" %>
    </h2>

    <% if(isNotMember){ %>
    <a href="/membership">Become Member</a>
    <% } %>

    <div>
      <% messages.forEach(function(msg){ %>
      <div>
        <p><%= msg.title %></p>
        <p><%= msg.message %></p>
        <% const fullName = msg.first_name + " " + msg.last_name %>
        <p><%= isMemberOrAdmin ? fullName : "Secret User" %></p>
        <p><%= isMemberOrAdmin ? msg.timestamp : "Secret Time" %></p>

        <% if(isAdmin) { %>
        <form action="message/<%= msg.id%>/delete" method="POST">
          <button type="submit">Delete</button>
        </form>
        <% } %>
      </div>
      <% })%>
    </div>
  </body>
</html>
